* {
    padding: 0px;
    margin: 0px;
}

#contenedor {
    background-color: aquamarine;
    width: 100%;
    height: 100vh;
    display: flex;
}

#contenedor div {
    flex: auto;
}

#cuadro-verde {
    background-color: green;
}

#cuadro-blanco {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cuadro-rojo {
    background-color: red;
}